@import '../../styles/_variables.less';

.side-nav {
    .side-nav-item {
        text-align: center;
        font-size: 0.75rem;
        border-left: 3px solid #fff;
        padding: 0.5rem 0;
        position: relative;
        cursor: pointer;

        &.selected {
            border-left-color: @selectedColor;

            div {
                color: @highlightColor;
                font-weight: bold;
            }

            svg {
                color: @highlightColor;
            }
        }

        .submenu-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            color: black !important;

        }

    }


}

.submenu-nav-item {
    padding: 0.15rem 0;
    min-width: 100px;
    cursor: pointer;
}
