@import '../../styles/_variables.less';

.content-block {
    padding: 0 2rem;
    margin: 1rem 0;

    .claim-search-form {
        margin-top: 1rem;
        width: 300px;
    }
}

.feature-title {
    color: @highlightColor;
    font-size: 1.35rem;
}

.policy-data-block {
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    padding: 0.5rem 0;
    // margin-top: 1.5rem;
}

.policy-data {
    font-weight: bold;
    font-size: 1.2rem;
}

.search-results {
    .center {
        text-align: center;
    }
    .policy-number, .trans-number, .ver-number, .premium {
        width: 100px;
    }

    .show-details {
        white-space: nowrap;
    }

    .policy-details {
        padding-left: 3rem;

        .bold {
            font-weight: bold;
        }
    }
}

.locations {
    .status {
        display: flex;
        align-items: center;

        .status-icon {
            padding-right: 0.25rem;

            &.active-icon {
                color: green;
            }

            &.cancelled-icon {
                color: red;
            }
        }
    }
}