@import '../../styles/_variables.less';

.steps {
    border-bottom: 3px solid @borderColor;
    padding-left: 1rem;
    
    .step {
        margin: auto 1rem;

        &.selected {
            font-weight: bold;
            color: @highlightColor;
            padding-bottom: 0.2rem;
            border-bottom: 3px solid @highlightColor;
        }
    }
}