.top-nav {
    .title-block {
        align-items: center;
        display: inline-flex;
        color: #fff;

        .logo {
            font-weight: bold;
        }
    
        .title-divider {
            background-color: #fff;
            height: 1.80rem;
        }
    
        .app-title {
            font-size: 1.3rem;
        }
    
    }
}