@import '~antd/dist/antd.less';
@import './styles/_variables.less';

// Define common/generic styles for the entire app
// Any LESS variables should define the ./styles/_variables.less file.

html, body {
  margin: 0;
  padding: 0;
}

body, #root {
  height: 100%;
}

.overflow {
  overflow-y: auto;
}

.full-height {
  height: 100%;
}

.right-justify {
  text-align: right;
}

.ant-btn {
  min-width: 140px;
}

.ant-radio-group {
  .ant-radio-button-wrapper {
    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: @highlightColor;
      border-color: @highlightColor;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.ant-table-container .ant-table-content .ant-table-small .ant-table-thead {
  > tr > th {
    background-color: @highlightColor;
  }
}

// .ant-picker .ant-picker-input input {
//   width: 85px;
// }

.highlight {
  color: @highlightColor;
}

.flex {
  display: flex;
}

.align-middle {
  align-items: center;
}

.space-between-5 {
  * {
    margin-right: 5px;
  }
}



// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
